.form{
    
    font-weight: bold;
    margin-top: 8px;

}
.form-cointainer{
    display: block;
}
/* #name{
    width: 100px;
}
#password{
    margin-top: 8px;
    margin-left: 4px;
} */
input{
    margin-top: 8px;
    text-align: center;
}
#submit{
    border: none;
    border-radius: 4px;
    font-weight: bolder;
    color: white;
    background-color: green;
    width: 10vh;
    height: 4vh;
    transition-duration: .2s;
}
#submit:hover{
    font-weight: bolder;
    color: green;
    background-color: whitesmoke;
}
#reset{
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    background-color: darkred;
    width: 10vh;
    height: 4vh;
}
#reset:hover{
    font-weight: bolder;
    color: darkred;
    background-color: whitesmoke;
    width: 10vh;
    height: 4vh;
}
#password{
    margin-left: 4px;
}
#email{
    margin-left: 26px;
}
#date{
    margin-left: 43px;
    width: 176px;
}
#quantity{
    margin-left: 10px;
}
.button{
    display: block;
    margin-left: 15vh;
}
#payment{
    border: none;
    margin: 10px 1.7vh;
    width: 20vh;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    font-weight: bold;
    background-color: ;
    height: 4.5vh;
}
#payment:hover{
   box-shadow: 0 4px 8px rgba(0, 91, 187, 0.3);
}
#file{
    margin-left: 12vh;
}